#yes_team
  %h1= teaminfo team
  - if current_user.owner?
    .owner
      :markdown
        You're the registered owner of #{h team.name}.

        Give your teammates the name (it's "#{h team.name}" without quotes) 
        and the team password you entered when you created the team. Don't 
        give them your personal account password.

        As captain, you'll be the one picking questions and submitting answers.

        Team members will be able to read questions, but not be able to 
        pick new questions or submit answers.

        Until the game starts, that's about all you can do. Thanks and
        good luck!
  - else
    .member
      :markdown
        You're a member of #{h team.name}.

        When the game starts, you'll be able to read questions, but you'll have
        to get the team captain to pick new questions, submit answers, and
        surrender on questions.

        Until the game starts, practice, stock up on caffienated beverages,
        and get ready to compete! Good luck!
