.content#dashboard
  #logo= render partial: 'shared/logo'
  #who
    Logged in as #{current_user.email}
  .team
    - if current_user.participant?
      = render partial: 'yes_team'
    - else
      = render partial: 'no_team'
  
