%h1 categories
=render partial: 'shared/jarmandy_nav'

%table
  %thead
    %th name
    %th order
    %th description
    %th challenges
  %tbody
    - @categories.each do |c|
      %tr
        %td= c.name
        %td= c.order
        %td= c.description
        %td= c.challenges.count
