!!!5
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h1 Welcome to 2015 DEF CON CTF Qualifications
    :markdown
      You've signed up for the Legitimate Business Syndicate Casualty Trauma
      Festival; thanks for your interest!

      ## What's next?

      To manage your account and create or join a team, visit us at:

      [https://legitbs.net/](https://legitbs.net/)

      You can log in there with your username (reprinted below for your
      convenience) and password (unrecoverable for your safety).

      Username: #{@user.username}

      Thanks again, and we hope to see you competing on a team soon!
