%h1 Two-Factor Authentication
%h2 Successfully Enabled
:markdown
  You've enabled two-factor authentication for your account. Print out this page
  and keep it somewhere safe. You'll need the QR code to put your secret on a 
  new phone if your current one is stolen. The fallback codes can be used one 
  time each in case you don't have your phone temporarily. 

%h2 Secret
.qr= image_tag url_for(action: 'show', id: @temporary_secret, format: 'png'), width: 319, height: 319

%h2 Fallback Codes
%ol
- @fallback_tokens.each do |t|
  %li= t

%p
  = link_to 'Back to the Dashboard', dashboard_path
