%h1 Categories
:markdown
  ## Baby’s First 

  Start here! These challenges start unlocked, and you should solve them.

  ## Duchess 

  Duchess likes shooting guns and writing software. Sometimes in that order.

  ## Gynophage

  Gynophage likes binaries and hates you.  Maybe when you’re done with these, you’ll hate him too.

  ## HJ

  hj is a French-language enthusiast and beard connoisseur. He lives in the Cabin in the Woods from that horror movie.

  ## Jymbolia

  Jymbo is a big fan of physical puzzles like “how to fit fifty people into a hotel room.”

  ## Lightning

  Insane ideas Lightning has, hate them you will.

  ## Selir

  There’s something you’d better understand about me ‘cause it’s important, and one day your life may depend on it: I am definitely a mad man with a network!

  ## Sirgoon

  Some say Sirgoon may even be able to demodulate 64QAM transmissions in his sleep.

  ## Vito Genovese

  Vito likes encryption! And applications.
