%canvas#countdown{width: 640, height: 480}
#timer{data:{remain: (Time.at(game_window.last) - Time.now)}, style: 'display: none'}
= image_tag '2015-canvas.png', id: 'canvas-template', width: 640, height: 480
