.content
  .headline
    %h1 
      %span ッぴょちゃ
    .clear
    %h2.overlay
      Legitimate Business Syndicate
      %br
      Casualty Truama Festival

  .invitation
    .jp.column
      :markdown
        㫣ヴャ 焨椢妤 ぶ妦詧ぎょ饣 な覧谣ヒャ樦, 郎っ䧎 マも ッぴょちゃピャびゅ 餥が矩䦦珣 黧ろりょ禞イェ 蟤ファびゃみ秺 ガ穟㫤訧ど ろりょ禞 のゑ, 詃りゅウァ っ䧎 ずみょ橯詃りゅ ぎゅ饊捨そご 餥が矩䦦珣, ꨞ飌へ ゆ栤みゅ詎フェ 祌ぴでマも ヒャ樦 䧟嫯 く

        槣郎っ䧎 ビョにゃ餚䣵軣 のゑざ楦る 詃りゅウァ, ひょ饧 婃揣き䤤ピ のゑざ楦る 礊䪦獧ちゅ以 ヂュのゑ 娪儥 䧞杧餥 䩵ッ餯䨤䝣 积ㄦぽ䩚ヂュ ガ穟㫤訧ど, 㫤訧 ぐぷぴゃ ッぴょちゃピャびゅ 榦鋨す令期

        きゅぎゅ ウァ榧チゞ馩 く槣郎っ䧎 訧ど盯, 谨よ查谧フィェ 猪竨娦馨駧 姎つ䛧 ずみょ は焨 鎌りゃげ堦䛨 ちぐぷぴゃホゥ 谢わ夯, たせじょ䋤仯 礊䪦獧ちゅ以 ゝ砥 谣ヒャ樦, は焨 ヒェ槊愥裟觩 馜䧟嫯饃きゃ ッぴょちゃ ぶ妦詧 䩵ッ餯䨤䝣 
    .en.column
      :markdown
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam congue. Donec risus risus, pretium ac, tincidunt eu, tempor eu, quam. Morbi blandit mollis magna. Suspendisse eu tortor. Donec vitae felis nec ligula blandit rhoncus. 

        Ut a pede ac neque mattis facilisis. Nulla nunc ipsum, sodales vitae, hendrerit non, imperdiet ac, ante. Morbi sit amet mi. Ut magna. Curabitur id est. Nulla velit. Sed consectetuer sodales justo. Aliquam dictum gravida libero. Sed eu turpis. Nunc id lorem. Aenean consequat tempor mi. Phasellus in neque. Nunc fermentum convallis ligula.

        Suspendisse in nulla. Nunc eu ipsum tincidunt risus pellentesque fringilla. Integer iaculis pharetra eros. Nam ut sapien quis arcu ullamcorper cursus. Vestibulum tempor nisi rhoncus eros. Sed iaculis ultricies tellus. Cras pellentesque erat eu urna. Cras malesuada. 
    .clear

  .registration
    =form_for User.new, url: user_path do |f|
      %label
        %span Username:
        = f.text_field :username
      %label
        %span Password:
        = f.password_field :password
      %label
        %button Create Account
        %button Log In
  .foot
    :markdown
      Copyright &copy; 2013 Legitimate Business Syndicate, All Rights Reserved.
      Readers and users claim all liability for injury, trauma, discomfort, and
      death resulting from CTF participation. LBS disclaims all responsibility
      for terrible things that happen to readers and users as a result of their
      participation in CTF activities.
