.content#scoreboard
  #scorelist
    %ul
      - 25.times do |n|
        %li
          %span.teamname= rand(36**10).to_s(36)
          %span.score= 2500 - n
      %li.current
        %span.teamname fail team 2000
        %span.score 5
  #header
    = render partial: 'shared/logo'
  #gameboard
    %p placeholder gameboard
  %br.clear
  #messages
    #messages-inner
      :markdown
        apr. 20 4:20 pm utc: An important game message of some kind. Perhaps the fednaught has
        answered a question.

        apr. 20 4:20 pm utc: An important game message of some kind. Perhaps the fednaught has
        answered a question.

        apr. 20 4:20 pm utc: An important game message of some kind. Perhaps the fednaught has
        answered a question.

        apr. 20 4:20 pm utc: An important game message of some kind. Perhaps the fednaught has
        answered a question.
