%h1 stuff
=render partial: 'shared/jarmandy_nav'

:plain
  <a class="pushbullet-subscribe-widget" data-channel="first-solves-jequaquifs" data-widget="button" data-size="small"></a>
  <script type="text/javascript">(function(){var a=document.createElement('script');a.type='text/javascript';a.async=true;a.src='https://widget.pushbullet.com/embed.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b);})();</script>

%h1 vanity metrics
%table
  %tbody
    %tr
      %th Players
      %td= User.count
    %tr
      %th Teams
      %td= Team.count
    %tr
      %th Average team size
      %td= Team.average_size.round(2)
