%h1 stuff
=render partial: 'shared/jarmandy_nav'
%h1 vanity metrics
%table
  %tbody
    %tr
      %th Players
      %td= User.count
    %tr
      %th Teams
      %td= Team.count
    %tr
      %th Average team size
      %td= Team.average_size.round(2)