@import "bourbon"

@import "mixins"
@import "color"

@import "fonts"

@import "parallax"

@import "layout"
@import "forms"

@import "partials"

@import "tokens"
@import "scoreboard"

@import "recaptcha"

html
  height: 100%

body
  width: 100%
  height: 100%
  margin: 0
  @include background(linear-gradient($dark_purple 0%, $purple 100%) fixed no-repeat)
  background-size: cover
  background-color: $brown
