.con-scoreboard.act-challenge
  section#challenge
    @include outer-container
    #chalcol
      @include span-columns(8)
      #chaldata
        @include outer-container
        @include pad
        background-color: $light-tielight
        h1, h2
          font-size: 24px
          margin: 4px 0
        h1
          @include span-columns(6)
        h2
          @include span-columns(6)
          font-style: italic
          text-align: right
      #actual_challenge
        background-color: $shirt
        @include pad
    #piccol
      @include span-columns(4)
      text-align: center
      #pic
        background-image: image-url('ipad-haver-watermarked.jpg')
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        width: 345px
        height: 345px * (534/419)
        border: 1px solid $lefty
        margin-top: -1px
        #timer
          margin: 0 -1px
          margin-top: 3em
          padding: 0.15em
          background-color: $background_color
          border: solid $lefty
          border-width: 1px 0 1px 0

  .stats
table#histogram
  display: none
