.con-scoreboard.act-challenge
  section#challenge
    @include grid-container
    #chalcol
      @include grid-column(8)
      #chaldata
        @include grid-container
        background-color: $light-tielight
        h1, h2
          font-size: 24px
          margin: 4px 0
        h1
          @include grid-column(6)
        h2
          @include grid-column(6)
          font-style: italic
          text-align: right
      #flashes
        margin: 1em 0
        background-color: $background_color
        border-bottom: none
        p
          background-color: $background_color
      #actual_challenge
        background-color: $shirt
    #piccol
      @include grid-column(4)
      text-align: center
      #manglepic
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        width: 345px
        height: 539px
        border: 1px solid $lefty
        margin-top: -1px
        #timer
          margin: 0 -1px
          margin-top: 4em
          padding: 0.15em
          background-color: $background_color
          border: solid $lefty
          border-width: 1px 0 1px 0

  .stats
    th
      font-weight: 700
      text-align: right
      padding-right: 0.5em
table#histogram
  display: none
