$salmon: #fa8072
$blue: hsl(200, 100%, 50%)
$pinku: #ff0080
$parchment: #ffe
$green: hsl(120, 100%, 50%)
$darkgreen: darken($green, 50%)

$dark_purple: #1E0533
$purple: #4A2966
$light_purple: #DAB7FF
$distant_brown: #33280D
$brown: #332105

a
  &:link, &:visited
    color: $light_purple
