body.con-dashboard
  #content
    >div
      h1:first-child
        margin-top: 0em
    .account
      background-color: $shirt
      .account_options
        a:link, a:visited
          @include bubble_button
    .team
      background-color: $light_tielight
