body.con-dashboard
  #content
    >div
      @include pad
      h1:first-child
        margin-top: 0em
    .account
      background-color: $shirt
      .account_options
        a:link, a:visited
          text-decoration: none
          display: inline-block
          border: 1px solid black
          border-radius: 0.4em
          padding: 0.2em
          margin: 0.2em
          color: black
          background-color: $tan
    .team
      background-color: $light_tielight
