body.con-dashboard
  #content
    >div
      h1:first-child
        margin-top: 0em
    .account
      @include grid-column(6)
      .account_options
        a:link, a:visited
          @include bubble_button
    .team
      @include grid-column(6)
      h1
        @include big_ticket
        font-size: 2em
        width: 7.5em
        margin-top: 1em
        margin-bottom: 0.5em
