$body_font: "Open Sans", "Helvetica Neue", Helvetica, sans-serif, Arial

body, input, button, h1, h2, h3, h4, h5, h6
  font-family: $body_font

.explanation
  margin-top: 0.2em
  font-size: 0.8em
.small
  font-size: 0.6em

h1, h2, h3, h4, h5, h6
  font-style: italic
  font-weight: 800
