//@import url(https://fonts.googleapis.com/css?family=Exo+2:100,400,700,400italic;Merriweather+Sans:400,400italic,700,700italic;Ubuntu+Mono:400)

body, input, button
  font-family: Rambla, Ubuntu, sans-serif

h1, h2, h3, h4, h5, h6
  @include michroma


.explanation
  font-size: 0.8em
  color: $deemphasized
.small
  font-size: 0.6em
