.con-homepage.act-index
  #content
    .invitation, .new, .login, .forgot
      @include pad
      h1:first-child
        margin-top: 0em
    .new
      background-color: $light_tielight
    .login
      background-color: $tan
    .forgot
      background-color: $shirt
