.headline 
  text-align: center
  h1
    font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic'
    font-weight: bold
    font-size: 160px
    color: #ff0
    margin:
      top: 0px
      left: auto
      right: auto
      bottom: 20px
    z-index: 10
    position: relative
    width: 676px
    height: 260px
    background: image-url('kana-nonsense.png') no-repeat top center
    span
      display: none
  h2.overlay
    $upshift: 80px
    $bottomspace: 80px
    font-family: Ubuntu
    color: #ff0
    background-color: black
    margin: -$upshift auto ($upshift - $bottomspace) auto
    width: 500px
    z-index: 20
    position: relative

.jp
  // font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic'

.invitation
  $invitationWidth: 960px
  $invitationPadding: 4px
  $columnPadding: 4px
  background-color: #ffe
  padding: $invitationPadding
  width: $invitationWidth
  @include transform(rotateZ(-2deg))
  @include box-shadow(0 5px 5px 0px black)
  .column
    width: ($invitationWidth / 2) - ($invitationPadding * 2) - ($columnPadding * 2)
    padding: $columnPadding
    float: left
    background-color: transparent

.registration
  $salmon: #fa8072
  margin: 20px auto 40px auto
  width: 540px
  background: $salmon image-url('stripes.png')
  color: black
  padding: 4px
  border: 2px solid #ddd
  font-size: 32px
  @include transform(rotateZ(1deg))
  form
    label
      display: block
      margin: 4px auto
      width: 480px
      text-align: center
      span
        width: 180px
        display: inline-block
      input
        width: 180px
        font-size: 32px
        border: 2px solid $salmon
    button
      font-size: 32px
      $border: 2px solid
      border:
        top: $border $salmon
        left: $border $salmon
        bottom: $border darken($salmon, 20%)
        right: $border darken($salmon, 20%)
      background: white

.foot
  background-color: black
  color: white
  margin-bottom: -20px
  padding: 10px 10px 5px 10px
