body
  margin: 0
  #container
    position: relative
    top: 0
    left: 0
    right: 0
    bottom: 0
    #scene
  #content
    width: 480px
    background: $dark_purple
    color: white
    margin: 2em
    padding: 1em
    border: 1px solid $light_purple
    h1:first-child
      margin-top: 0
  #flashes
    float: right
    width: 400px
    font-size: 1.2em
    margin-right: 200px
    border: 1px solid white
    padding: 0
    p
      padding: 1em
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0
      &.alert, &.error
        background-color: $error
        color: white
        
