body
  margin: 0
  #container
    position: relative
    top: 0
    left: 0
    right: 0
    bottom: 0
    #scene
  #content
    width: 480px
    background: $dark_purple
    color: white
    margin: 2em
    padding: 1em
    border: 1px solid $light_purple
