@mixin unnumbered-list
  list-style-type: none
  &, & li
    margin: 0
    padding: 0

@mixin mono
  font-family: $mono_font

@mixin button
  border: 1px solid $lefty
  color: $dark_grape
  background-color: $pale_mustard
  font-size: 1em
  text-decoration: none
  padding: 4px
  margin: 4px
  &:active
    border: 1px solid white
    box-shadow: 0 1px 2px $light_tielight

@mixin bubble_button
  text-decoration: none
  display: inline-block
  border: 1px solid black
  border-radius: 0.4em
  padding: 0.2em
  margin: 0.2em
  color: $dark_grape
  background-color: $pale_mustard
