@mixin jp-en-columns
  &.jp
    text-align: right
  &.en
    text-align: left

@mixin letter($letterBackground: #ffe)
  background-color: $letterBackground
  border: 1px solid darken($letterBackground, 30%)

@mixin unnumbered-list
  list-style-type: none
  &, & li
    margin: 0
    padding: 0

@mixin exo
  font-family: "Exo 2", Exo, sans-serif
