#scene
  position: fixed
  float: left
  max-width: 960px
  margin: 0 auto
  z-index: -100
  .layer
    margin: 0
    width: 960px
  #layer-mountains
    margin-left: -512px
    img
      margin-top: -64px
  #layer-casinos
    margin-top: 400px
    text-align: right
    img
      margin-right: -512px
  #layer-rio
    text-align: right
    img
      margin-right: -256px
