#scene
  position: fixed
  float: left
  margin: -2em auto
  z-index: -100
  .layer
    position: fixed
    margin: 0
  #layer-vines
    background-image: asset-url("vines.png")
    background-repeat: repeat-x
    width: 100%
    height: 512px
  #layer-altar
    background-image: asset-url("altar-computer-512.png")
    width: 512px
    height: 512px
    left: 640px
  #layer-ziggurat
    margin-top: 220px
    left: -140px
