#scene
  max-width: 960px
  margin: 0 auto
  .layer
    text-align: center
    margin: 0 -256px
  #layer-stars
    background-image: image-url('Bitmap layer 2.png')
    width: 100%
    height: 4000px
  #layer-mountains
    margin-top: 100px
  #layer-casinos
    margin-top: 400px
  #layer-rio
  #layer-main
    .headline
      float: right
      text-align: right
      margin: 1em
    .content
      width: 400px
      padding: 1em
      background: $parchment
