body.con-scoreboard.act-index
  #scene
    display: none
  #content
    background: none
    border: none
    width: 1000px
    margin: 0 auto
    padding: 2em
    box-sizing: border-box
  .content#scoreboard
    #messages
      float: left
      width: 640px
      height: 200px
      overflow: scroll
    #scorelist
      float: right
      width: 280px
      #timer
      ul
        list-style-type: none
        padding-left: 0
        li
          margin-left: 0
          width: 280px
          padding: 0
          box-sizing: content-box
          span
            box-sizing: border-box
            display: inline-block
            margin: 0
            padding: 0
            &.teamname
              width: 230px
            &.score
              width: 40px
              text-align: right
