body.con-scoreboard
  #scene
    display: none
  #content
    background: none
    border: none
    width: 1000px
    margin: 0 auto
    padding: 2em
    box-sizing: border-box
  .content#scoreboard
    #messages
      float: left
      width: 640px
      height: 150px
      overflow: scroll
      border-bottom: 1px solid $light_purple
      ol
        list-style-type: none
        padding-left: 0
        li
          @include exo
          font-weight: 100
          margin-bottom: 4px
          .metadata
            font-weight: 500
          p
            margin: 0
    #scorelist
      float: right
      width: 280px
      @include exo
      #timer
        text-align: right
        font-weight: 100
        font-size: 24px
      ul
        list-style-type: none
        padding-left: 0
        li
          margin-left: 0
          width: 280px
          padding: 0
          box-sizing: content-box
          font-weight: 300
          span
            box-sizing: border-box
            display: inline-block
            margin: 0
            padding: 0
            &.teamname
              width: 230px
            &.score
              width: 46px
              text-align: right
          &.current
            background-color: $light_purple
            color: $dark_purple
            font-weight: 900
            margin: 0 -10px
            padding: 0 10px
    #gameboard
      float: left
      .category
        margin-bottom: 4px
        h1
          font-weight: 100
          display: inline-block
          margin: 0
          vertical-align: bottom
          margin-bottom: -2px
        ul
          display: inline-block
          list-style-type: none
          padding-left: 0
          margin: 0
          li
            display: inline-block
            @mixin block-color($background, $text, $border: $text)
              background-color: $background
              color: $text
              border-color: $border
            a
              @include exo
              font-weight: 800
              display: inline-block
              padding: 2px 10px
              margin: -8px 2px 4px 2px
              border: 1px solid white
              text-decoration: none
              text-shadow: black 0 1px 5px
              @include block-color($purple, $light_purple)
              &:link, &:visited
                border-color: $light_purple
                background-color: black
            &.solved a
              @include block-color(green, lime)
            &.locked a
              @include block-color($dark_purple, $purple)
            &.burning a
              @include block-color($dark_red, yellow)
              background-image: asset-url("burning-love.gif")
              background-repeat: repeat-x
              background-position: bottom center
      #challenge
        position: absolute
        border: 1px solid $light_purple
        background: $dark_purple
        padding: 12px
        top: 220px
        box-shadow: black 0 1px 5px

  @media screen and (min-width: 1200px)
    #scene
      display: block
      #layer-altar, #layer-ziggurat
        display: none
    #content
      width: 1200px
    .content#scoreboard
      #messages
        width: 800px
        height: 200px
      #scorelist
        width: 320px
        #timer
          width: 330px
          font-size: 64px
        ul li
          width: 330px
          span
            font-size: 18px
            &.teamname
              width: 280px
      #gameboard
        font-size: 1.4em

  @media screen and (max-width: 1000px)
    #content
      width: 800px
    .content#scoreboard
      #messages
        width: 500px
      #scorelist
        width: 200px
        font-size: 12px
        ul li
          width: auto
          &.current
            margin: 0
            padding: 0
          span
            &.teamname
              width: 180px
            &.score
              width: 15px
      #gameboard
        font-size: 0.8em

  @media screen and (max-width: 24px) and (max-height: 32px)
    .content#scoreboard
      background-image: asset-url("flipoff.png")
      position: absolute
      top: 0
      left: 0
      > *
        display: none
