.con-scoreboard, .con-picker
  section#main
    @include outer-container
    #leftcol
      @include span-columns(8)
    #rightcol
      @include span-columns(4)
      @include pad
      padding-top: 0
      background-color: $shirt
  #timer
    text-align: center
    font-size: 1.8em

#messages, #instructions
  @include pad
  padding-top: 0
  max-height: 8em
  overflow: scroll
  background-color: $light_tielight
  border-bottom: 1px solid $tielight
  ol
    @include unnumbered-list
    .metadata
      margin: 0.5em 0 0 0
      font-style: italic
    p.message
      margin-top: 0

#gameboard
  @include pad
  .category
    h1
      margin-top: 0.25em
      margin-bottom: 0
    ul.challenges
      margin-top: 0
      padding-left: 0
      list-style-type: none
      li
        padding-left: 20px
        background-repeat: no-repeat
        background-position: left center
        &.locked
          background-image: image-url('red-x.png')
        &.solved
          background-image: image-url('green-check.png')
        &.live
          background-image: image-url('pink-heart.png')
        &.burning
          background-image: image-url('burning-love.gif')
          background-position: bottom
          background-repeat: repeat-x
          $tbc: $background_color
          a:link, a:visited
            font-weight: bold
            color: black
            background-color: $tbc
            padding-right: 0.5em
          em, span.points
            background-color: $tbc
          em
            padding: 0 0.5em

#scorelist
  table
    width: 100%
    border-spacing: 0
    tr
      td.teamname
      td.score
        text-align: right
      &.current, &.current td
        background-color: $background_color
