%h1 Stat Dump for DEF CON CTF 2014 Qualifiers

%nav
  %ul
    %li
      %a{href: 'achievements.html'} Achievements
    %li
      %a{href: 'challenges.html'} Challenges
    %li
      %a{href: 'teams.html'} Teams
