!!! 5
%html
  %head
    %title CtfRegistrar
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
    .beta-notice
      .beta-notice-content
        :markdown
          This site is in development. The database in use now will not
          be carried forward. Please send all comments to 
          [bryce](mailto:bkerley@brycekerley.net).

          <3 thanks! <3
